#notes {
    display: flex;
    flex-wrap: wrap;
}

.note {
    padding: 10px;
    width: 330px;
    height: 360px;
    background-color: #F0EC84;
    color: black;
}

.note input {
    background: transparent;
    color: black;
    border: none;
}

.note textarea {
    background-color: transparent;
    border: none;
}

.note textarea:focus-visible {
    outline: none;
}

.note input:focus-visible {
    outline: none
}

.note {
    margin-right: 15px;
}